.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 60px;
}

.textContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.title{
    font-size: 70px;
    color: #0d0d60;
}

.describ{
    text-align: left;
    font-size: 30px;
    margin-top: -30px;
}

.subtitle{
    text-align: left;
    font-size: 15px;
    opacity: 80%;
    margin-bottom: 60px;
}

.hero img{
    width: 540px;
    height: 540px;
}

.slider {
  margin-left: 40px ;
}




@media(max-width:1000px){
    .hero img{
        width: 400px;
        height: 400px;
    }
}

@media (max-width : 768px) {
    .hero{
        justify-content: center;
        align-items: center;
        padding: 40px 50px;
        gap: 20px;
    }

    .title{
        font-size: 50px;
        margin-top: -20px;
    }

    .describ{
        font-size: 20px;
        margin-top: -20px;
    }

    .subtitle{
        font-size: 10px;
         margin-top: -2px;
        margin-bottom: 30px;
    }

    .hero img{
        width: 300px;
        height: 300px;
    }
}

@media(max-width: 640px){
    .hero{
        flex-direction: column;
        padding: 65px 40px;
        gap: 20px;
    }

    .title{
        font-size: 64px;
    }

    .describ{
        font-size: 24px;
        margin-top: -17px;
    }

    .subtitle{
        font-size: 10px;
        margin-top: -2px;
        margin-bottom: 40px;
    }

    .hero img{
        width: 300px;
        height: 300px;
    }
    .slider{
        margin: 40px auto 40px auto; /* مرکز افقی صفحه */
        width: fit-content;

    }
   

}