.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 60px;
}

.textContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 30px;
    margin-top: 20px;
}

.title{
    font-size: 70px;
    color: white;
}

.describ{
    text-align: left;
    font-size: 30px;
    margin-top: -30px;
}

.subtitle{
    text-align: left;
    font-size: 15px;
    opacity: 80%;
    margin-bottom: 60px;
}

.phonephoto{
    width: 540px;
    height: 540px;
    padding-top: 30px;
}

.slider {
  margin-left: 40px ;
  margin-top: 50px;
}

@media(max-width:1000px){
    .phonephoto{
        width: 400px;
        height: 400px;
    }
}

@media (max-width : 768px) {
    .hero{
        justify-content: center;
        align-items: center;
        padding: 40px 50px;
        gap: 20px;
    }

    .title{
        font-size: 50px;
        margin-top: -20px;
    }

    .describ{
        font-size: 20px;
        margin-top: -20px;
    }

    .subtitle{
        font-size: 10px;
         margin-top: -2px;
        margin-bottom: 30px;
    }

    .phonephoto{
        width: 300px;
        height: 300px;
    }
}

@media(max-width: 640px){
    .hero{
        /* flex-direction: column; */
        position: relative;
        padding: 65px 8px;
        gap: 20px;
    }

    .title{
        font-size: 63px;
    }

    .describ{
        font-size: 22px;
        margin-top: -17px;
    }

    .subtitle{
        font-size: 10px;
        margin-top: -2px;
        margin-bottom: 40px;
    }

    .phonephoto{
        position: absolute;
        width: 240px;
        height: 240px;
        top: 210px;
        right: 0.25%;
    }
    .slider{
          width: 100px;
    height: 140px;
        /* margin: 40px auto 40px 20px;  */
        margin-left: 5px ;
        width: fit-content;

    }
   

}