.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    backdrop-filter: blur(3px);
}

.cross{
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #d33636;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 20px 0 0 30px;
    border-radius: 5px;
    cursor: pointer;
}

.chart{
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #18181ce6;
    border: 2px solid #404042;
    border-radius: 20px;
}

.graph{
    width: 100%;
    height: 200px;
}

.name{
    display: flex;
    align-items: center;
    margin: 0 10px 10px;
}

.name img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.name p{
    font-size: 1.2rem;
    font-weight: 700;
}

.types{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.types button{
    margin: 10px 20px;
    background-color: #18181cdb;
    border: 1px solid #3874ff;
    color: #3874ff;
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.types .selected{
    background-color: #3874ff;
    color: #fff;
}

.details{
    display: flex;
    justify-content: space-around;
    margin: 15px 40px 0;
}

.details div {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.details p{
    margin-right: 7px;
    color: #3874ff;
    font-weight: 700;
}

.details span{
    font-size: 0.8rem;
}

@media (max-width : 768px) {
    
.cross{
    font-size: 1rem;
    width: 25px;
    height: 25px;
    padding-bottom: 3px;
}

.chart{
    width: 95%;
    max-width: 400px;
    padding: 5px;
    margin: auto;
}

.graph{
    width: 100%;
    height: 200px;
}

.name{
    margin: 0 5px 5px;
}

.name img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.name p{
    font-size: 1rem;
    font-weight: 700;
}

.types{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.types button{
    margin: 10px 5px;
    font-size: 0.7rem;
    padding: 4px 7px;
}

.details{
    margin: 10px 30px 20px;
}

.details div {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}

.details p{
    margin: 5px;
    padding: 0px;
    font-size: 0.8rem;
}

.details span{
    font-size: 0.7rem;
}
}


@media(max-width: 640px){

.cross{
    font-size: 1rem;
    width: 22px;
    height: 22px;
    padding-bottom: 4px;
}

.chart{
    width: 95%;
    max-width: 300px;
    padding: 5px;
    margin: auto;
}

.graph{
    width: 100%;
    height: 200px;
}

.name{
    margin: 0 5px 5px;
}

.name img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.name p{
    font-size: 1rem;
    font-weight: 700;
}

.types{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.types button{
    margin: 10px 5px;
    font-size: 0.7rem;
    padding: 4px 7px;
}

.details{
    margin: 10px 30px 20px;
}

.details div {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}

.details p{
    margin: 5px;
    padding: 0px;
    font-size: 0.8rem;
}

.details span{
    font-size: 0.7rem;
}
}