.searchBox{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    position: relative;
}

.searchBox input {
    width: 300px;
    height: 30px;
    padding: 10px;
    font-size: 1.1rem;
    color: #ffffff;
    background-color: #030741;
    border: none;
    border-radius: 5px;
}

.searchBox input:focus{
    outline: none;
}

.searchBox select {
    background-color: #030741;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    color: #fff;
    padding: 0 10px;
}

.searchBox select:focus{
    outline: none;
}

.searchResult {
    position: absolute;
    top: 60px;
    width: 300px;
    height: 400px;
    border-radius: 5px;
    overflow-y: scroll;
    background-color: #18181c;
    border: 2px solid #22262e;
    padding: 20px;
}

.searchResult ul{
    margin-left: -30px;
}

::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}

.searchResult li{
    display: flex;
    align-items: center;
    list-style: none;
    display: flex ;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid #22262e;
}

.searchResult li img{
    margin-right: 10px;
    width: 25px;
    height: 25px;
}


.searchloading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

@media(max-width:1000px){
    .searchBox input {
        width: 150px;
        height: 10px;
        font-size: 0.7rem;
    }
    
    .searchBox select {
        margin-left: 20px;
        padding: 10px 10px;
        height: 30px;
        font-size: 0.5rem;
    }

    .searchResult {
        top: 40px;
        width: 200px;
        height: 250px;
        border: 1px solid #22262e;
    }

    
.searchResult ul{
    margin-left: -40px;
}

.searchResult li{
    margin-bottom: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid #22262e;
}

.searchResult li img{
    width: 20px;
    height: 20px;
}

.searchResult li p {
    font-size: 0.7rem;
}

}


@media (max-width:640px){

.searchBox input {
    width: 150px;
    height: 10px;
    font-size: 0.7rem;
}

.searchBox select {
    margin-left: 20px;
    padding: 10px 10px;
    height: 30px;
    font-size: 0.5rem;
}

.searchResult {
    top: 40px;
    width: 150px;
    height: 250px;
    border: 1px solid #22262e;
}

::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}

.searchResult ul{
    margin-left: -40px;
}

.searchResult li{
    margin-bottom: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid #22262e;
}

.searchResult li img{
    width: 18px;
    height: 18px;
}

.searchResult li p {
    font-size: 0.6rem;
}

.searchloading {
    transform: scale(0.6); 
}

}