header{
    display: flex;
    position: fixed;
    align-items: center;
    background-color: #001c5e;
    height: 40px;
    width: 100vw;
    font-size: 20px;
    padding-left: 15px;
    gap: 2px;
    z-index: 10;
}

.icon{
    width:30px;
    height: 30px;
}

footer {
    display: flex;
    align-items: center;
    background-color: #001c5e;
    height: 40px;
    width: 100vw;
    margin-top: 90px;
  
}


@media (max-width:640px) {
    header{
        font-size: 15px;
        height: 30px;
        padding-left: 10px;
    }
    .icon{
        width: 25px;
        height: 25px;
    }
    footer{
        height: 30px;
    }
}